#welcome{
    background-color: #fff;
    background-image: url(/img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;
    width: 100%;
    min-height: 100vh;
    border-bottom: 10px solid $color-text;
}
.welcome-area {
    float: left;
    display: inline;
    width: 100%;
    margin-bottom: 70px;
}
.welcome-area__card {
  padding-bottom: 0;
}
.welcome-area__card-inner {
  background-color: transparent;
}
.welcome-area__text {
    background-color: #ede99d;
    background-color: rgba(237, 233, 157, 0.7);
    max-width: 525px;
    margin: 0 auto 50px;
    padding: 50px 24px 55px;
    font-size: 21px;
    line-height: 1.6;
    text-align: center;
    color: $dark-gray;
}
.welcome-area__footer {
  position: relative;
  max-width: 340px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(#edee9c, .8);
  text-align: center;
  color: $color-text;
  font-size: 26px;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 340px;
    height: 10px;
    background: url(/img/dotted.png) no-repeat;
  }
}
.welcome-area__card-btn {
    margin: 26px auto;
}
.welcome-content{
    float: left;
    display: inline;
    width: 100%;
    margin-top: 50px;
}
