@media(max-width:1199px ){
    .header-content {
      padding: 70px;
    }
    .header-content h2 {
      font-size: 66px;
    }
    .knowmore-btn {
      font-size: 18px;
      padding: 20px 25px;
    }
    .download-btn {
      font-size: 18px;
      padding: 20px 25px;
    }
    .header-btn-area {
      margin-top: 65px;
    }
    .logo {
      margin-right: 0;
    }
    #navbar {
      width: 87%;
    }
    .main-nav li a {
      padding: 15px 7px;
      border-bottom: 2px solid $green;
    }
    .search-area input[type="text"]:focus {
      width: 820px;
    }
    .team-grid li {
      height: 198px;
      margin: 20px;
      width: 20%;
    }
    .team-img-1,
    .team-img-2,
    .team-img-3,
    .team-img-4 {
      background-position: center center;
    }
    .team-info {
        padding: 12px 0px;
    }
    .team-info p {
        margin: 0 32px;
          padding: 10px 0px;
    }
    .team-info a {
      margin: 0 2px;
    }
    .single-service {
      padding: 45px 15px;
    }
    .single-service .service-title {
      font-size: 20px;
    }
    .single-portfolio {
      width: 23%;
    }
    .single-counter > span {
      font-size: 50px;
      width: 50px;
    }
    .single-counter .counter-count > span {
      font-size: 40px;
    }
    .single-counter .counter-count > p {
      font-size: 14px;
    }
    .single-from-blog .blog-title h2 {
      font-size: 25px;
    }
    .single-from-blog .blog-footer a {
      margin-right: 18px;
    }
    .contact-left h2,
    .contact-right h2 {
      font-size: 26px;
    }
    .single-address h4 {
      font-size: 20px;
    }
    .counter-area {
      padding: 125px 0;
    }
    .blog-archive .single-from-blog figure img {
      height: 320px;
    }
}


@media(max-width:991px ){
    .header-content {
      padding: 50px;
    }
    .header-content h2 {
      font-size: 66px;
    }
    .header-btn-area {
      margin-top: 20px;
    }
    #navbar {
      width: 86%;
    }
    .main-nav li a {
      font-size: 14px;
      padding: 15px 7px;
    }
}


@media(max-width:767px ){
    .header-content h2 {
      font-size: 35px;
      line-height: 35px;
    }
    .contacts-text-field {
        width: 100%;
        margin-right: 0;
    }
    .main-nav li {
      display: block;
      float: left;
      width: 100%;
    }
    .main-nav li a {
      display: block;
      padding: 8px 7px;
    }
    #navbar {
      margin-right: 0;
      width: 104.5%;
    }
    .main-nav {
      background: #fff none repeat scroll 0 0;
      display: block;
      margin: 0;
      text-align: center;
      width: 100%;
    }
    .navbar-default .navbar-toggle {
      border-color: #ddd;
      margin-right: 0;
      margin-top: 32px;
      border-radius: 0;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus{
        background-color: $green;
        border-color: $green;
        color: #fff;
    }
    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar{
        background-color: #fff;

    }
    .navbar-fixed-top .search-area{
        top: -77px;
    }
    .navbar-fixed-top .navbar-toggle {
      margin-top: 25px;
    }
    .navbar-fixed-top .search-area input[type="text"]:focus {
      top: 23px !important;
    }
    #about {
      padding: 50px 0 50px;
    }
    .welcome-area__text {
        font-size: 18px;
    }
}

@media(max-width:480px ){
    #header {
        min-height: 500px;
    }
    .header-content {
      padding: 20px;
    }
    .header-content h2 {
      font-size: 32px;
    }
    #navbar {
      width: 106%;
    }
}


@media(max-width:360px ){
    #header,
    .header-overlay {
        min-height: 200px;
    }
    .header-inner > img {
      height: 250px;
      width: 100%;
    }
    .header-content {
      padding: 30px;
    }
    .header-content h2 {
      font-size: 25px;
    }
    .header-btn-area {
      margin-top: 00px;
    }
    .header-btn-area a {
      display: block;
      margin: 10px 15px;
    }
    #navbar {
      width: 108.3%;
    }
    .header-content h2 {
      margin-bottom: 10px;
    }
}


@media(max-width:320px ){
    #navbar {
      width: 109%;
    }
}
