#blog-banner{
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}
.blog-overlay{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.blog-banner-area {
	display: inline;
	float: left;
	padding: 85px 0;
	width: 100%;
}
.blog-banner-area h2{
	color: #fff;
	font-size: 40px;
	padding-bottom: 5px;
}
.blog-banner-area .breadcrumb {
	background-color: transparent;
	border-radius: 0;
	padding-left: 0;
}
.blog-banner-area .breadcrumb li{
	font-family: "Raleway",sans-serif;
}
.blog-banner-area .breadcrumb li a {
	color: #fff;
	font-size: 18px;
	font-family: "Raleway",sans-serif;
	text-decoration: none;
}
.blog-banner-area .breadcrumb > li + li::before {
	color: #ccc;
	content: "/ ";
	padding: 0 0px;
}
