#call-to-action{
	display: inline;
	float: left;
	position: relative;
	width: 100%;
    overflow: hidden;
}
.call-to-overlay{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.call-to-content {
	display: inline;
	float: left;
	padding: 60px 0;
	text-align: center;
	width: 100%;
}
.call-to-content h2{
	color: #fff7f7;
	font-size: 45px;
}
.call-to-content a {
	display: inline-block;
	float: none;
	margin-top: 29px;
}
