#client {
	background-color: #fff;
	display: inline;
	float: left;
	padding: 70px 0 55px;
	width: 100%;
}
.client-area{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}
.client-table {
	display: inline-block;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
}
.client-table li {
	display: inline-block;
	margin-right: 80px;
}
.client-table li:last-child{
	margin-right: 0px;
}
