#contact {
	background-image: url("assets/images/contact-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline;
	float: left;
	padding: 70px 0;
	width: 100%;
}
.contact-left {
	background-color: rgba(104, 102, 96, 0.5);
	display: inline;
	float: left;
	padding: 30px 40px 10px;
	width: 100%;
}
.contact-left h2 {
	color: #fafafa;
	font-size: 35px;
	margin-bottom: 35px;
}
.single-address {
	display: inline;
	float: left;
	margin-bottom: 15px;
	padding-right: 50px;
	width: 100%;
}
.single-address h4 {
	color: #fafafa;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 17px;
}
.single-address p {
	color: #fafafa;
	font-size: 14px;
	margin-bottom: 5px;
}
.contact-right{
	background-color: rgba(104, 102, 96, 0.5);
	display: inline;
	float: left;
	padding: 30px 40px;
	width: 100%;
}
.contact-right h2 {
	color: #fafafa;
	font-size: 35px;
	margin-bottom: 48px;
}
.contact-form .form-group input {
	background: transparent;
	color: #e1e1e1;
	font-size: 20px;
	border: 1px solid #fff;
	border-radius: 0;
	height: 45px;
	margin-bottom: 24px;
}
.contact-form .form-group textarea{
	color: #e1e1e1;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	height: 190px;
}
.contact-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.contact-form .form-control::-webkit-input-placeholder {
	color: #e2e2e2;
	font-size: 20px;
}

.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #e2e2e2;
	font-size: 20px;
}

.contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #e2e2e2;
	font-size: 20px;
}

.contact-form .form-control:-ms-input-placeholder {
	color: #e2e2e2;
	font-size: 20px;
}
.contact-form button {
	float: right;
	margin-right: 0;
	border-radius: 0px;
}
.contact-form.button-default::after,
.contact-form .button-default > span {
	padding: 12px 40px;
}
