#contacts{
    background-image: url(/img/bg-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    padding: 70px 0;
    width: 100%;
    min-height: 100vh;
}
.contacts-area{
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
}
.contacts-title {
    font-family: $font;
    font-size: 36px;
    font-weight: 400;
    color: $color-text;
    text-align: center;
}

.contacts-text {
    margin-bottom: 32px;
    text-align: center;
    font-size: 21px;
    font-weight: 600;

    &--form {
        margin-bottom: 26px;
        color: #fff;
    }
}
.contacts-form {
    width: 100%;
    max-width: 600px;
    margin: 30px auto 30px;
    padding: 30px;
    background-color: rgba(91, 162, 47, 0.8);
}
.contacts-text-field {
    width: 47%;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #fff;
    height: 40px;
    padding-left: 15px;
    color: $color-text;
}
.contacts-text-field:first-child,
.contacts-text-field:nth-of-type(3) {
    margin-right: 28px;
}
.contacts-text-field.whole {
    width: 100%;
    height: initial;
    padding-top: 10px;
    resize: none;

    &:first-child {
        height: 40px;
        padding-top: 0;
    }
}

.contacts-text-field.full {
    width: 100%;
    height: 40px;
    padding-top: 0;
}
.contacts-btn {
    float: initial !important;
    display: block;
    height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    border: none;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    transform: none;
}

.contacts-email {
  font-size: 26px;
  color: $color-text;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  font-family: $font;
}
