#contacts{
    background: linear-gradient(90deg, #55c16f 0%, #3b9768 100%);
    background-image: url(/img/bg-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    color: #fff;
    display: inline;
    padding: 70px 0;
    float: left;
    width: 100%;

    .tittle {
        color: #fff;
    }

    .tittle-line {
        background-color: #fff;
    }
}
.contacts-area{
    display: inline;
    float: left;
    width: 100%;
}
.contacts-form {
    width: 100%;
    max-width: 600px;
    margin: 140px auto 0;
    padding: 0 30px 30px 30px;
}
.contacts-text-field {
    width: 47%;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: #fff;
    //border-bottom: 2px solid $green;
    height: 40px;
    padding-left: 15px;
    color: #3a3a3a;
}
.contacts-text-field:first-child {
    margin-right: 28px;
}
.contacts-text-field.whole {
    width: 100%;
    height: initial;
    padding-top: 10px;
    resize: none;
    //border: 2px solid $green;
}
.contacts-text-field:hover,
.contacts-text-field:focus {
    //background-color: #eee;
}
.contacts-btn {
    float: initial;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #fff !important;
    color: #fff !important;

    &:hover,
    &:focus {
        border: none;
        background-color: transparent;
        color: $green;
    }
}
