@font-face {
    font-family: "Agletterica";
    src:
      url("../fonts/aglettericacondensedc-webfont.woff"),
      url("../fonts/aglettericacondensedc-webfont.woff2");
    font-style: normal;
    font-weight: normal;
}
