#footer{
	background-color: #242424;
	display: inline;
	float: left;
	margin-top: -6px;
	width: 100%;
}
.footer-top {
	display: inline;
	float: left;
	width: 100%;
}
.footer-top-area{
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}
.footer-logo{
	display: inline-block;
}
.footer-social{
	display: inline;
	float: left;
	margin: 40px 0px;
	width: 100%;
}
.footer-social a {
	border: 1px solid #505050;
	border-radius: 50%;
	color: #b8b8b8;
	display: inline-block;
	font-size: 18px;
	height: 48px;
	line-height: 48px;
	margin: 0 9px;
	text-align: center;
	width: 48px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.footer-social a.facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
.footer-social a.twitter:hover{
	color: #fff;
	background-color: #00aced;
	border-color: #00aced;
}
.footer-social a.google-plus:hover{
	color: #fff;
	background-color: #dd4b39;
	border-color: #dd4b39;
}
.footer-social a.youtube:hover{
	color: #fff;
	background-color: #bb0000;
	border-color: #bb0000;
}
.footer-social a.linkedin:hover{
	color: #fff;
	background-color: #007bb5;
	border-color: #007bb5;
}
.footer-social a.dribbble:hover{
	color: #fff;
	background-color: #ea4c89;
	border-color: #ea4c89;
}
.footer-bottom{
	display: inline;
	border-top: 1px solid #434343;
	float: left;
	padding: 40px 0;
	width: 100%;
	text-align: center;
}
.footer-bottom p{
	color: #fff;
	font-size: 18px;
	margin-bottom: 0px;
}
