.video {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 640px;
    margin-bottom: 50px;
}

#activity {
    background-image: url(/img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 140px 0;
    border-bottom: 10px solid $color-text;
}
#location {
    background-image: url(/img/bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 140px 0;
    border-bottom: 10px solid $color-text;

}
#service {
    float: initial !important;
    display: block !important;
    background-image: url(/img/bg-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 140px 0;
    border-bottom: 10px solid $color-text;
}

.green-btn{
    float: initial;
    display: inline-block;
    height: 60px;
    padding: 0 34px;
    line-height: 60px;
    text-align: center;
    font-size: 21px;
    margin-top: 30px;
    color: #fff;
    background-color: rgba(2, 175, 5, 0.65);
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: rgba(5, 156, 8, 0.65);
    }
}
