#header{
    width: 100%;
    min-height: 800px;
    max-height: 70vh;
    background: #57524f url(/img/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.header-inner{
    position: relative;
    width: 100%;
}
.header-overlay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 800px;
    width: 100%;
}
.header-title img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.header-content {
    height: 100%;
    padding: 100px 140px 140px;
    text-align: center;
    width: 100%;
}
.header-content h2 {
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: $green;
    text-shadow: 0 7px 23px black;
}
.header-content h2 span {
    //font-family: 'Open Sans', sans-serif;
    font-size: 0;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 12px;
    color: #fff;
}
.header-btn{
    float: initial;
    display: inline-block;
    height: 40px;
    padding: 0 34px;
    line-height: 40px;
    text-align: center;
    font-size: 21px;
    margin-top: 30px;
    color: #fff;
    background-color: rgba(2, 175, 5, 0.65);
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
}
.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
