#header{
	width: 100%;
    min-height: 800px;
    max-height: 70vh;
    background: $green url(/img/bg-min.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header-inner{
	position: relative;
	width: 100%;
}
.header-overlay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
	background-color: rgba(0, 0, 0, 0.1);
	min-height: 800px;
	width: 100%;
}
.header-content {
	height: 100%;
	padding: 100px 140px 140px;
	text-align: center;
	width: 100%;
}
.header-content h2 {
    font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	font-weight: bold;
    line-height: 1.4;
	text-transform: uppercase;
    color: $green;
    text-shadow: 0 7px 23px black;
}
.header-content h2 span {
    //font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 12px;
    color: #fff;
}
.header-btn{
    margin: 0 auto;
    display: block;
    background-color: $purple !important;
    color: #fff !important;
}
.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
	color: #fff;
	text-decoration: none;
	outline: none;

}
