#header{
    width: 100%;
    min-height: 800px;
    max-height: 70vh;
    background: #57524f url(/img/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.header-inner{
    position: relative;
    width: 100%;
}
.header-overlay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 800px;
    width: 100%;
}
.header-title img {
    display: block;
    margin: 0 auto;
}
.header-content {
    height: 100%;
    padding: 100px 140px 140px;
    text-align: center;
    width: 100%;
}
.header-content h2 {
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: $green;
    text-shadow: 0 7px 23px black;
}
.header-content h2 span {
    //font-family: 'Open Sans', sans-serif;
    font-size: 0;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 12px;
    color: #fff;
}
.header-btn{
    float: initial;
    display: block;
    max-width: 250px;
    margin: 50px auto 0;
    padding: 12px 21px;
    background-color: $purple !important;
    color: $dark-gray !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    background-image: none;
    transition: background-image 0.4s ease-out;

    &:focus,
    &:hover {
        color: $dark-gray !important;
        background-image: linear-gradient(to top, #55c16f 0%, #f8bf4d 100%);
        border: none;
    }
}
.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
