#navbar {
    float: left;
    width: 83%;
    font-family: $font;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: 100%;
}
.main-nav li {
    display: inline-block;
    float: none;
}
.main-nav li a {
    color: $color-text;
    font-size: 15px;
    padding: 39px 20px;
    text-transform: uppercase;
}
.less-padding{
    padding: 30px 20px !important;
}

.navbar-default .navbar-nav > li > a {
  color: $color-text;
  font-weight: 700;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  pointer-events: none;
  color: $green;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: $green;
}
