#offer {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#offer h2 {
    font-size: 28px;
}
#offer .call-to-content {
    padding: 48px 0;
}

#offer .call-to-content a {
	margin-top: 0;
}
