.scrollToTop {
	background: #f9f9f9 none repeat scroll 0 0;
	border-radius: 50%;
	bottom: 60px;
	display: none;
	font-size: 25px;
	height: 55px;
	line-height: 50px;
	position: fixed;
	right: 50px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 999;
}
.scrollToTop:hover,
.scrollToTop:focus{
  color: #fff;
  text-decoration: none;
  outline: none;
}
